body {
  background-color: black;
  color: #dfdfdf;
  font-family: sans-serif;
}

.panel-box {
  margin: 10px;
  border: 3px solid #dfdfdf;
  background-color: black;
}

.available-panel {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.affinity-report {
  min-height: 100px;
}

.row-flexbox {
  display: flex;
  flex-direction: row;
}

.column-flexbox {
  display: flex;
  flex-direction: column;
}

.selected-characters {
  flex: 1;
  width: 30vw;
}

.selected-egos {
  flex: 1;
  width: 30vw;
}

.card {
  background-color: #333;
  color: #dfdfdf;
  min-width: fit-content;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}

.card img {
  object-fit: scale-down;
  max-height: 100%;
}

.selected-character {
  max-height: 64px;
}

.available-character {
  max-height: 100px;
}

.unavailable-character {
  max-height: 100px;
  opacity: 0.75;
  background-color: gray;
  filter: grayscale(100%);
}

.selected-ego {
  max-height: 64px;
}

.available-ego {
  max-height: 100px;
}

.unavailable-ego {
  max-height: 100px;
  opacity: 0.75;
  background-color: gray;
  filter: grayscale(100%);
}

.button {
  background-color: black;
  color: white;
  border: round;
  border-color: black;
}

.button-selected {
  background-color: gray;
  border: round;
  border-color: gray;
}

@media screen and (max-width: 720px) {
  .selected-panel {
    display: flex;
    flex-direction: column;
  }

  .selected-characters {
    flex: 1;
    flex-direction: column;
    width: auto;
  }

  .selected-egos {
    flex: 1;
    flex-direction: column;
    width: auto;
  }

  .affinity-report {
    order: -1;
  }
}
